@import '../../styles/_variables.scss';
.header{
    width: 100%;
    height: $header-height;
    background-color: $color-primary;
    color: $white;
    padding: 3px 0;
    text-align: center;
    box-shadow: 0px 3px 3px 0px rgba(100, 100, 100, 0.2);
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

@import './../../styles/_variables.scss';
 
.logo {
    text-align: center; 
    
  
    a {
        display: block;
        padding: 3px 15px;
        font-size: $xl;
        text-decoration: none;
        
    }
    strong {
        color: $color-secondary;
    }
    span {
        color: $color-secondary;
        letter-spacing: -0.05em;
    }
}
.iconNav {
    display: flex;
    flex-direction: column;
    padding: 10px;
    line-height: 2em;
    span {
        width: 22px;
        display: block;
        border-top: 2px solid $white;
        margin: 3px 0;
    }
}
.iconBack {
    position: absolute;
    top: 0;
    left: 5px;
    padding: 12px 15px;
    &:before {
        content: '';
        width: 10px;
        height: 10px;
        display: inline-block;
        transform: rotate(-45deg);
        border-top: 2px solid $white;
        border-left: 2px solid $white;
    }
}
.nav {
    display: inline-block;

    li {
        display: inline-block;
        a {
            display: inline-block;
            font-size: $xs;
            padding: 5px 10px;
        }
    }
}
.shoppingCart {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    color:$color-secondary;
    padding: 13px;
}
